
.env
node_modules/
__pycache__/
*.pyc
papers/
*.pdf
separated_files/
references/
progress_checkpoint.txt
reference_list_checkpoint.txt
extracted_data.txt
papers.txt
statistics.txt
paper_titles/
resources/
venv/
__init__.py
references/
separated_files/
models/